body {
	background-color: #e6ecf0;
	color: #14171a;
	padding: 10px;
}


.profile-card {
	
	margin: 10px;
	float:left;
	background-color: #fff;
	padding: 0;

}

.profile-card-bg img {
	
    height: 95px;
    width: 100%;
    margin-top: -1px;

}

.profile-card-content {
	color: #E81C4F;
	width:100%

}

.profile-card-content img{

	background-color: #fff;
	border-radius: 50%;
	margin: -30px 0 0 8px;
	padding: 1px;
	width: 72px;
	border: 2px solid #fff;

}

.profile-card-user {
	position: absolute;
    top: 103px;
    left: 90px;
    color: #14171a;
	font-weight: bold;
	font-size: 18px;

}

.profile-card-user p{

	font-size: 14px;
	color: #657786;
}

.profile-card-stats {

	padding: 16px;
	width: 100%;
	margin-top: 15px;

}

.profile-card-stats ul li {

	list-style: none;
	display: table-cell;
	width: 1%;

}

.profile-card-stats label {

	color: #657786;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .02em;
	line-height: 16px;
	overflow: hidden;
	transition: color .15s ease-in-out;
}

.timeline {

	box-sizing: border-box;
	margin: 10px;
	float: left;
}

.timeline-tweetbox {

	background-color: #FCE8ED;
}

.timeline-tweetbox-avatar {
	
	height: 32px;
	width: 32px;
	border-radius: 50%;
	border: 0;
	float: left;
	left: 28px;
	position: absolute;
	top: 13px;

}

.timeline-tweetbox form {
	margin-left: 56px;
	display: flex;
	align-items: center;
	padding: 10px;
}

.tweetbox {
	width: 100%;
	float: left;
	margin: 10px;
	border: 1px solid #F9C6D3;
	border-radius: 8px;
	padding: 10px;
}

.tweetButton {
	background-color: #E81C4F;
	border-radius: 100px;
	font-weight: bold;
	padding: 6px 16px;
	border: 0;
}

.timeline-container {
	
	width: 100%;
	background-color: #fff;
}

.tweet {
	border-bottom: 1px solid #e6ecf0;
	cursor: pointer;
	position: relative;
	min-height: 51px;
	padding: 9px 12px;
}

.tweet:hover {
    background-color: #f5f8fa;
}

.tweet-content {

}

.tweet-img {
	float: left;
	margin-top: 3px;
	width: 48px;
	border-radius: 50%;

}

.tweet-header strong {

}

.tweet-header p {
	

	font-size: 14px;
	color: #657786;
}
}